.env
.envrc

# Folders
__pycachee__
misc/
.venv
.git
DS_Store
*.sql

__pycache__
railway.json
railway.json
requirements.txt

# Docs
plan.json
railpack2.json
railway.json
requirements.txt
.dockerignore
logs
railpack.bak
.github/workflows/main.yml
opencode
docs/.opencode
railway.toml

# Testing
.artifacts/
generated_images/